<% Array(model).reject(&:blank?).each do |model| %>
  <% if model.errors.any? %>
    <div class="errors">
      <% model.errors.full_messages.uniq.each do |msg| %>
        <p class='alert alert-danger'><%= "#{model.class.name} - #{msg}" %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
