<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.name %></td>
      <td><%= professor.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>