<div class='well'>
  <div class='text-center clearfix'>
    <h4>Viewing All Exams</h4>
  </div>
</div>
<table class='table table-striped table-bordered datatable'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Laptop</th>
      <th>R-S</th>
      <th>Student Name</th>
      <th>Student Email</th>
      <th>Exam Return</th>
      <th>Exam Pickup</th>
      <th>Professor Name</th>
      <th>Professor Email</th>
      <th>Class Length</th>
      <th>Course</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <% Submission::Renderer.render(submission) do |value| %>
          <td><%= value %></td> 
        <% end %>
        <td>
          <%= link_to submission_path(submission) do %>
          <i class='glyphicon glyphicon-edit'></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to submission_path(submission), :data => {confirm: "Are you sure?"}, :method => :delete do %>
          <i class='glyphicon glyphicon-remove'></i> Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>