$font-family-sans-serif: "myriad-pro", sans-serif;


$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// import the CSS framework
@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 60px;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
}

.navbar-default {
  background-color: #023666;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.1em;
  line-height: 30px;

  &:hover {
    color: white;
  }
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: white;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
