<% content_for :header do %>
Exams Scheduled for <%= @date %>
<% end %>
<table border="0" cellspacing="0" cellpadding="10" style="border:1px solid #ccc;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Laptop</th>
      <th>R-S</th>
      <th>Student Name</th>
      <th>Student Email</th>
      <th>Exam Return</th>
      <th>Exam Pickup</th>
      <th>Professor Name</th>
      <th>Professor Email</th>
      <th>Class Length</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr bgcolor="<%= @color_mapping[submission] %>">
        <% Submission::Renderer.render(submission) do |value| %>
          <td><%= value %></td> 
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>