<li><%= link_to "Today's Exams", submissions_path, class: 'navbar-brand' %></li>
<li><%= link_to "All Exams", all_submissions_path %></li>
<li><%= link_to 'Create New Exam', new_submission_path %></li>
<li><%= link_to 'Semester Test Breakdown', semester_report_path %></li>